/* You can add global styles to this file, and also import other style files */

html {
    font-size: 62.5%;
}

body {
    margin: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fonts */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
}

/* poppins-semibold */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
}

/* separation of product list and payment gateway form */
app-root {
    display: flex;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5.5rem;
}

/* payment */
app-payment {
    background-color: #565ABB;
    height: 64.5rem;
    width: 38.5rem;
    padding: 1.8rem;
    border-radius: 2rem;
    color: #FEFCFC;
}
